<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/js/people.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" th:href="@{/}">Social Network</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/people}">People</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> <span th:text="${session_user.getFirstname()}"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/}">Home</a>
                        <a class="dropdown-item" th:href="@{/profile}">Profile</a>
                        <a class="dropdown-item" th:href="@{/people}">People</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">Log out</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        <div id="friends-msg-container">
        </div>
        <div class="d-flex flex-row-reverse">
            <form class="form-inline my-2 my-lg-0">
                <input id="searched_name" class="form-control mr-sm-2" type="search" size=50 placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" onclick="searchUsers(event)">Search</button>
            </form>
        </div>
        <hr>
        <div class="container">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col" width="25%">Profile picture</th>
                    <th scope="col" width="25%">Name</th>
                    <th scope="col" width="25%">E-mail</th>
                    <th scope="col" width="25%">Action</th>
                </tr>
                </thead>
                <tbody id="searched_users">
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <div class="container">
                    <table class="table">
                        <thead>
                        <tr class="bg-info">
                            <th style="color: white;" scope="col" colspan="5">
                                <span>Pending requests</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="pending-requests-table">
                            <tr th:each="pending_friend : ${sent_pending_requests}">
                                <td><img th:src="${pending_friend.profilePicturePath}" class="img-thumbnail" style="width: 20%;"/></td>
                                <td class="align-middle"><h5><span class="badge badge-light" th:text='${pending_friend.firstname + " " + pending_friend.lastname}'></span></h5></td>
                                <td class="align-middle"><button type="button" class="btn btn-sm btn-outline-danger" th:attr="onclick=|cancelFriendRequest('${pending_friend.email}')|" >Cancel</button></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr th:each="pending_friend : ${received_pending_requests}">
                                <td><img th:src="${pending_friend.profilePicturePath}" class="img-thumbnail" style="width: 50%;"/></td>
                                <td class="align-middle"><h5><span class="badge badge-light" th:text='${pending_friend.firstname + " " + pending_friend.lastname}'></span></h5></td>
                                <td class="align-middle"><button type="button" class="btn btn-sm btn-outline-success" th:attr="onclick=|acceptFriendRequest('${pending_friend.email}')|">Accept</button></td>
                                <td class="align-middle"><button type="button" class="btn btn-sm btn-outline-danger" th:attr="onclick=|cancelFriendRequest('${pending_friend.email}')|">Reject</button></td>
                                <td class="align-middle"><button type="button" class="btn btn-sm btn-outline-danger" th:attr="onclick=|blockUser('${pending_friend.email}')|">Block</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="container">
                    <table class="table">
                        <thead>
                        <tr class="bg-success">
                            <th style="color: white;" scope="col" colspan="3">
                                <span>Friend list</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr th:each="friend : ${accepted_friends}">
                            <td><img th:src="${friend.profilePicturePath}" class="img-thumbnail" style="width: 20%;"/></td>
                            <td class="align-middle"><h5><span class="badge badge-light" th:text='${friend.firstname + " " + friend.lastname}'></span></h5></td>
                            <td class="align-middle"><button type="button" class="btn btn-sm btn-outline-danger" th:attr="onclick=|cancelFriendRequest('${friend.email}')|" >Delete</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>